.action-message-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0 0 0 / 50%);
  z-index: 9999;

  .container {
    width: 510px;
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 220px;

    .close-btn {
      position: absolute;
      top: 8px;
      right: 8px;
      height: 18px;
      cursor: pointer;

      svg {
        width: 18px;
        height: 18px;
      }
    }

    .block {
      text-align: center;
      width: 100%;

      .image-section {
        margin: auto;
        margin-top: -25px;

        img {
          width: 100%;
        }
      }

      .info {
        color: #3E484A;
        font-weight: 400;
        font-size: 14px;
      }

      .title {
        font-weight: 600;
        font-size: 18px;
        margin: -28px 0px 13px 0px;
      }

      .success.title {
        color: #3F820C;
      }

      .failed.title {
        color: #820C0C;
      }

      .warning.title {
        color: #ffeb3b;
      }

      .btn-block {
        margin-top: 20px;
        flex-direction: row;
        gap: 10px;

        button {
          width: 50%;
        }
      }
    }
  }
}

.action-message-popup.logout-popup {
  .container {
    height: 200px;

    .block {
      .info {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
      }

      .btn-block {
        justify-content: center;

        button {
          width: 40%;
        }
      }
    }
  }
}

@media(min-width:1536px) and (max-width:1920px) {
  .action-message-popup {
    .container {
      .close-btn {
        height: 23px;

        svg {
          width: 23px;
          height: 23px;
        }
      }

      .block .title {
        font-size: 22px;
      }
    }
  }
}

@media(max-width:639px) {
  .action-message-popup {
    .container {
      width: 80%;
    }
  }
}

@media(max-width:480px) {
  .action-message-popup {
    .container {
      width: 80%;

      .block {
        padding: 5px;
      }
    }
  }

  .action-message-popup.logout-popup {
    .container {
      height: 150px !important;

      button {
        width: 48% !important;
      }
    }
  }
}