.product_details_container {
    min-height: 350px;
    border-bottom: 16px solid #F7F7F7;

    .default_conitaner_fluid {
        background-color: #F3F3F3;
    }

    .default_conitaner {
        .pdp_details_blocks {
            margin: 20px 0px;
            display: grid;
            gap: 30px;
            grid-template-columns: 500px auto 300px;
        }
    }
}

@media (min-width:1700px) {
    .product_details_container {
        .default_conitaner {
            .pdp_details_blocks {
                grid-template-columns: 520px auto 600px;
            }
        }
    }
}

@media (min-width:1440px) and (max-width:1699px) {
    .product_details_container {
        .default_conitaner {
            .pdp_details_blocks {
                grid-template-columns: 500px auto 350px;
            }
        }
    }
}

@media (max-width:1280px) {
    .product_details_container {
        .default_conitaner {
            .pdp_details_blocks {
                grid-template-columns: 500px auto;
                gap: 12px;
            }
        }
    }
}

@media (max-width:992px) {
    .product_details_container {
        .default_conitaner {
            .pdp_details_blocks {
                grid-template-columns: 55% auto;
            }
        }
    }
}

@media (max-width:767px) {
    .product_details_container {
        .default_conitaner {
            .pdp_details_blocks {
                display: flex;
                gap: 20px;
            }
        }
    }
}

@media (max-width:480px) {
    .product_details_container {
        .default_conitaner {
            .page-message-block {
                margin-bottom: -14px;
            }
        }
    }
}