.product-title-block {
    .product-title {
        border-bottom: 1px solid #EBEBEB;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .title-section {
            color: #3E484A;
            font-size: 16px;
            font-weight: 600;
            padding-bottom: 12px;
            position: relative;


            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 33px;
                width: 70%;
                border-bottom: 3px solid #641233;
            }
        }


    }
    // skeleton
    .product-title.skeleton_title{
        .title-section{
            img{
                width: 130px;
                height: 25px;
                object-fit: cover;
            }
            &::after {
                content: unset;
            }
        }
    }
    // skeleton
}

@media (max-width:1680px) {
    .product-title-block {
        .product-title {
            .title-section{
                font-size: 14px;
                padding-bottom: 12px;
                &::after{
                    top: 31px;
                }
            }
        }
    }
}