.extra-category-tab {
    display: none !important;
}

@media (min-width:568px) and (max-width:992px) {
    .extra-category-tab {
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        .category-product-grid-section {
            width: 49%;
        }
    }
}