.header {
    position: relative;
    &.checkout_header {
        .middle-header {
            .container {
                padding: 18px 0px 18px 0px;

                .row {
                    .account-cart-list {
                        display: none;
                    }

                    .category-search {
                        display: none;
                    }

                    .logo-section {
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        .bottom-header {
            display: none;
        }
    }
}

@media (max-width:992px) {
    .header {
        &.checkout_header {
            .middle-header {
                .container {
                    .row {
                        flex-wrap: initial;
                        .header-menu-btn{
                            width: auto;
                        }
                    }
                }
            }
        }
    }


    .middle-header {
        .container {
            .row {
                flex-wrap: wrap;

                .category-search.middle-sections {
                    width: 100%;
                    order: 2;
                }
            }
        }
    }
}