.error-page {
    .container {

        .row {
            width: 410px;
            margin: 5rem auto;
            text-align: center;
            gap: 16px;
            margin-bottom: 5rem;

            .image-section {
                width: 80px;
                margin: 0 auto;
                padding-bottom: 10px;

                img {
                    width: 100%;
                }
            }

            h4 {
                color: #3E484A;
                font-size: 20px;
                font-weight: 600;
            }

            p {
                color: #3E484A;
                font-size: 12px;
            }

            .button-section {
                padding-top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                    text-decoration: none !important;
                    .go-to-home {
                        background: #232F3E;
                        width: 100%;
                        color: white;
                        padding: 8px;
                        border-radius: 3px;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}

@media (max-width:767px) {
    .error-page {
        .container {
            width: 93%;
            margin: 0 auto;
        }
    }
}

@media (max-width:480px) {
    .error-page {
        .container {
            .row {
                width: 100%;
                margin: 1.5rem auto;
                margin-bottom: 3rem;
                gap: 18px;

                .image-section {
                    padding-bottom: 6px;
                    width: 85px;
                }

                h4 {
                    font-size: 24px;
                }

                p {
                    font-size: 14px;
                    width: 250px;
                    margin: 0 auto;
                }

                .button-section {
                    .go-to-home {
                        padding: 10px;
                    }
                }
            }
        }
    }
}

@media (min-width:1536px) and (max-width:1920px) {
    .error-page {
        .container {
            .row {
                width: 550px;
                margin-bottom: 7rem;

                .image-section {
                    width: 115px;

                    img {
                        padding: 20px 0;
                    }
                }

                h4 {
                    font-size: 28px;
                }

                p {
                    font-size: 16px;
                }

                .button-section {
                    .go-to-home {
                        padding: 12px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}