.product-link-block {
    width: max-content;

    .product-link-title {
        .link-section {
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
          
            cursor: pointer;
            &:hover {
                color: #fff;
            }


        }


    }
}